.container-propos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.propos-style{
  width: 90%;
  margin: 0 auto;
}

.img-propos{
  width: 90%;
  border-radius: 15px;
  height: 223px;
  object-fit: cover;
}


@media(min-width: 1240px){

.propos-style{
  width: 1025px;
}

.propos-style .desc-dropdown{
  height: fit-content;
  padding: 20px 10px;
}

}


